.widget {
  flex: 1;
  display: flex;
  justify-content: space-between;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 15px;
  height: 40%;
  background-color: rgb(66, 66, 66);
  .left,
  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    .title {
      font-weight: bold;
      font-size: 20px;
      color: rgb(236, 250, 48);
    }
    .link {
      width: max-content;
      font-size: 15px;
      color: rgb(136, 136, 136);
    }
    .percentage {
      display: flex;
      align-items: center;
      font-size: 14px;
      &.positive {
        color: green;
      }
      &.negative {
        color: red;
      }
    }
    .icon {
      font-size: 25px;
      padding: 5px;
      align-self: flex-end;
    }
  }
}
