.reserve {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  z-index: 3;
  background-color: rgb(66, 66, 66);
  color: #fffc55;
  padding: 40px;
  position: relative;
}
.selectRooms {
  width: 100%;
  height: 20px;
  font-size: 15px;
  font-weight: bold;
  margin-right: 0;
  margin-bottom: 5%;
}
.reservationRooms {
  width: 100%;
  display: flex;
  justify-content: start;
  padding: 40px;
  margin: 0;
  gap: 10%;
}
.reserveClose {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.reserveRoom {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-radius: 5px;
  background-color: rgb(66, 66, 66);
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.712);
}

.room {
  display: flex;
}

.roomInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.roomNumbers {
  display: flex;
  gap: 5px;
}
.reserveRoomTitle {
  font-weight: 500;
}

.reserveRoomDesc {
  font-weight: 300;
}

.reserveMax {
  font-size: 12px;
}

.reservePrice {
  font-weight: 500;
}

.reserveSelectedRooms {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.room1 {
  display: flex;
  flex-direction: column;
}

.reserveBtn {
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  background-color: #fffc55;
  font-weight: bold;
  margin-top: 20px;
}

.newDate {
  margin-top: 0%;
  align-self: center;
  justify-content: center;
  position: absolute;
  top: 80px;
}
