.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(66, 66, 66);
}

.loginContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  h1 {
    margin-bottom: 30px;
    color: #fffc55;
  }
}

.loginInput {
  height: 30px;
  padding: 10px;
}

.loginBtn {
  border: none;
  padding: 10px 30px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  background-color: #fffc55;
}
.loginBtn:disabled {
  background-color: #fdfca7;
  cursor: none;
}

.logInErrMsg {
  text-align: center;
  color: red;
  background-color: lightpink;
  border-radius: 5px;
  margin: 5px;
}
.registerNow {
  width: 100%;
  display: flex;
  color: #fffc55;
  font-size: smaller;
}
pre {
  width: 100%;
  display: flex;
}
p {
  cursor: pointer;
}

.valid {
  color: limegreen;
}

.invalid {
  color: red;
}

.hide {
  display: none;
}

.instructions {
  color: #fffc55;
  background-color: #000;
  border-radius: 5px;
  position: relative;
  bottom: -10px;
  padding: 5px;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.inputErrMsg {
  text-align: center;
  color: red;
  background-color: lightpink;
  border-radius: 5px;
  margin: 5px;
}
