.table {
  .tableCell {
    background-color: rgb(245, 245, 159);
  }
  .cellWrapper {
    display: flex;
    align-items: center;
    .image {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 10px;
    }
  }
  .status {
    padding: 5px;
    border-radius: 5px;
    &.Approved {
      color: green;
      background-color: rgb(129, 235, 129);
    }
    &.Pending {
      border: 1px solid;
      color: rgb(185, 185, 18);
      background-color: rgb(247, 247, 160);
    }
  }
}
