.footer {
  background-color: rgb(66, 66, 66);
  width: 100%;

  color: #fffb00;
  margin-top: -5%;
  align-items: center;
  padding-bottom: 50px;
}

.fLists {
  width: 100%;
  justify-content: space-between;
  display: flex;
  margin-bottom: 50px;
}

.fList {
  list-style: none;
}
.fListItem {
  cursor: pointer;
  margin-bottom: 10px;
}

.footer > span {
  margin-left: 34%;
  padding: 30px;
}

.link {
  color: #fffb00;
  text-decoration: none;
}
