.featured {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 10px;
  margin-top: 50px;

  z-index: 1;
}

.featuredItem {
  position: relative;
  color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  height: 250px;
}

.featuredImg {
  width: 400px;
  height: 300px;
  object-fit: cover;
}

.featuredTitles {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
