body {
  margin: 0;
  .Profile {
    width: 100%;
    max-width: 100vw;

    background-color: rgb(66, 66, 66);
    .profileContainer {
      width: 100%;
      display: flex;
      background-color: rgb(66, 66, 66);
      color: #fffb06;
      gap: 30%;

      .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 25%;
        position: fixed;
        height: 100%;
        margin-right: 30%;
        background-color: rgb(66, 66, 66);
        .profileImg {
          position: absolute;
          top: 10px;
          left: 50px;
          img {
            width: 120px;
            height: 120px;
          }
        }
        form {
          display: flex;
          flex-direction: column;
          gap: 20px;
          justify-content: center;
          align-items: start;
          margin-top: 60%;
          .formInput {
            display: flex;
            flex-direction: column;
            margin-left: 20%;
            label {
              width: 100px;
              margin-right: 20px;
            }
            input {
              border: none;
              border-radius: 5px;
              color: black;
            }
            .inputErrMsg {
              text-align: center;
              color: red;
              background-color: lightpink;
              border-radius: 5px;
              margin: 5px;
            }
            .infoMsg {
              display: flex;
              flex-direction: column;
            }
          }
          .infoLabels {
            display: flex;
            margin-left: 20%;

            label {
              width: 100px;
              margin-right: 20px;
            }
            p {
              width: 150px;
            }
          }
          .Btn {
            align-self: center;
            width: 200px;
            padding: 5px 30px;
            border: none;
            border-radius: 5px;
            margin: 10px;
            margin-left: 30px;
            cursor: pointer;
            font-weight: 600;
            color: #000;
            background-color: yellow;
          }
          button {
            color: yellow;
          }
        }
      }
      .reservations {
        width: 100%;
        height: 100vh;
        margin-left: 30%;
        display: flex;
        flex-direction: column;
        font-size: xx-large;
        background-color: #fffb06da;
        color: black;
        padding: 10%;
        padding-left: 5%;
        position: relative;
        .eachReservation {
          height: 50vh;
          box-shadow: 6px 8px 10px 1px rgba(53, 53, 48, 0.993);
          margin: 3%;
          border-radius: 5px;
          font-size: medium;
          background-color: rgb(66, 66, 66);
          color: #fffb06;
          padding: 10px;
          padding-bottom: -20%;
          position: relative;

          .property {
            width: 100%;
            display: flex;
            align-items: start;
            justify-content: space-between;
            label {
              font-weight: 600;
              font-size: larger;
            }
          }
          button {
            position: absolute;
            bottom: 10;
            right: 0;
            width: 200px;
            padding: 5px 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-weight: 800;
            color: #000;
            background-color: yellow;
            margin: 20px;
          }
        }
      }
    }
  }
}
.valid {
  color: limegreen;
}

.invalid {
  color: red;
}

.hide {
  display: none;
}

.instructions {
  background-color: #000;
  border-radius: 5px;
  position: relative;
  bottom: -10px;
  padding: 5px;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.react-datepicker__header {
  background-color: #fffb06;
}
