.single {
  width: 100%;
  display: flex;
  .wrapper {
    width: 100%;
    display: flex;
    .singleContainer {
      flex: 6;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: start;
      gap: 20px;
      .slider {
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #afa6a66c;
        z-index: 999;
        display: flex;
        align-items: center;
        object-fit: cover;
        .slideWrapper {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          .sliderImg {
            height: 80vh;
          }
        }
        .closeImgSlider {
          position: absolute;
          top: 0px;
          right: 0px;
          font-size: 30px;
          color: #4d4d4d;
          cursor: pointer;
        }
        .leftArrow {
          margin-right: 100px;
          margin-left: 50px;
          font-size: 40px;
          color: #4d4d4d;
          cursor: pointer;
        }
        .rightArrow {
          margin-left: 100px;
          margin-right: 50px;
          font-size: 40px;
          color: #4d4d4d;
          cursor: pointer;
        }
      }
      .sideBar {
        width: 100%;
        height: 100%;
      }
      .sideNavbars {
        top: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
      .infoWrapper {
        width: 80%;
        align-self: center;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        position: relative;
        padding: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
        .info {
          width: 100%;
          .editBtn {
            position: absolute;
            top: 0;
            right: 0;
            background-color: #fcff5d;
            border: none;
            border-radius: 0px 0px 0px 5px;
            padding: 5px;
            font-weight: 500;
          }
          .title {
            font-size: 20px;
            margin-bottom: 20px;
          }
          .item {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            .left {
              display: flex;
              .roomImage {
                img {
                  cursor: pointer;
                  width: 100px;
                  height: 100px;
                  margin: 10px;
                }
              }
            }
          }
          .right {
            .details {
              color: gray;
              .itemTitle {
                color: black;
                margin-bottom: 15px;
              }
              .detailItem {
                margin-bottom: 15px;
                .itemKey {
                  font-weight: 600;
                  margin-right: 10px;
                }
              }
            }
          }
        }
      }
      .infoWrapperEditMode {
        flex: 6;
        width: 100%;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        position: relative;
        .editBtn {
          position: absolute;
          top: 0;
          right: 0;
          background-color: #fcff5d;
          border: none;
          border-radius: 0px 0px 0px 5px;
          padding: 5px;
          font-weight: 500;
        }
        .title {
          font-size: 20px;
          margin: 20px;
        }
        .top {
          flex: 1;
          display: flex;
          justify-content: space-between;
          position: relative;
          padding: 20px;
          margin-left: 10px;
          margin-right: 50px;
          margin-bottom: 5px;

          .left {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .images {
              display: flex;
              flex-wrap: wrap;
              gap: 20px;
              .eachImg {
                position: relative;
                img {
                  cursor: pointer;
                  width: 100px;
                  height: 100px;
                  border-radius: 5px;
                }
                .removeIcon {
                  position: absolute;
                  top: -7%;
                  right: -15%;
                  cursor: pointer;
                }
              }
            }
            .uploadUrl {
              input {
                border-radius: 5px;
                border: 1px solid;
                margin-right: 5px;
              }
              button {
                border: none;
                border-radius: 5px;
                background-color: #fffb06;
                font-weight: 700;
                padding: 5px;
                cursor: pointer;
              }
            }
          }
          .right {
            width: 50%;
            form {
              display: flex;
              flex-wrap: wrap;
              justify-content: space-between;
              position: relative;
              margin: 10px;
              .eachInput {
                width: 50%;
                display: flex;
                flex-direction: column;
                input {
                  width: 80%;
                  border-radius: 5px;
                  border: 1px solid;
                }
                select {
                  width: 80%;
                  border-radius: 5px;
                }
                .react-datepicker__header {
                  background-color: #fffb06;
                }
                .birthDate {
                  input {
                    cursor: pointer;
                  }
                }
                .inputErrMsg {
                  width: 80%;
                  text-align: center;
                  color: red;
                  background-color: lightpink;
                  border-radius: 5px;
                  margin: 5px;
                }
              }
              .btns {
                width: 100%;
                display: flex;
                justify-content: space-evenly;
                .updateBtn {
                  width: 100px;
                  height: 30px;
                  padding: 5px 10px;
                  border: none;
                  border-radius: 5px;
                  cursor: pointer;
                  font-weight: 800;
                  background-color: yellow;
                }
                .cancelBtn {
                  width: 100px;
                  height: 30px;
                  padding: 5px 10px;
                  border: none;
                  border-radius: 5px;
                  cursor: pointer;
                  font-weight: 800;
                  background-color: yellow;
                }
              }
            }
            .item {
              display: flex;
              align-items: center;
              gap: 10px;
              flex-direction: column;
              .topSection {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                gap: 20%;
                margin-top: 5%;
                .itemImg {
                  width: 100%;
                  img {
                    width: 150px;
                    height: 150px;
                    padding: 10px;
                  }
                  .removeIcon {
                    cursor: pointer;
                  }
                }
              }

              .details {
                color: gray;
                .itemTitle {
                  color: black;
                  margin-bottom: 15px;
                }
                .detailItem {
                  margin-bottom: 15px;
                  .itemKey {
                    font-weight: 600;
                    margin-right: 10px;
                  }
                }
                .roomList {
                  color: black;
                  font-size: larger;
                  font-weight: 600;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-evenly;
                  .room {
                    font-size: smaller;
                    display: flex;
                    color: gray;
                    gap: 50px;
                    .roomItem {
                      width: 150px;
                    }
                  }
                }
              }
            }
          }
        }
        .bottom {
          width: fit-content;
          margin-left: 20%;
        }
      }
    }
  }
}
