.navbar {
  height: 150px;
  background-color: rgb(66, 66, 66);
  display: flex;
  justify-content: center;
  font-size: 50px;
  padding: 1%;
}

.navContainer {
  width: 100%;
  max-width: 1024px;
  color: #fffb06;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3%;
  gap: 10px;
}
.logo {
  font-weight: 500;
  width: 100%;
  cursor: pointer;
}
.navItems {
  width: 100%;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  position: relative;
}
.logoutBtn {
  position: absolute;
  top: 0px;
  right: 60px;
  padding: 10px 20px;
  cursor: pointer;
  color: white;
  background-color: #1b1b1a;
  border: none;
  flex-wrap: nowrap;
}
.profile {
  width: 80%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.profileImg {
  position: absolute;
  top: 0px;
  right: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: -150px;
  cursor: pointer;
}
.profileImgWithSettings {
  position: absolute;
  top: -50px;
  right: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: -150px;
  cursor: pointer;
}

.settings {
  position: absolute;
  background-color: white;
  color: gray;
  font-size: 14px;
  border-radius: 5px;
  padding: 10px;
  top: 0px;
  right: -150px;
}
.viewProfile:hover {
  width: 100px;
  cursor: pointer;
  background-color: gray;
  color: #1b1b1a;
}

.logout:hover {
  width: 100px;
  cursor: pointer;
  background-color: gray;
  color: #1b1b1a;
}
