.list {
  display: flex;
  width: 100%;
  .listContainer {
    flex: 6;
    .sidebarWrapper {
      width: 100%;
      display: flex;
      .sidebarBtn {
        margin-top: 10px;
        color: rgb(66, 66, 66);
        button {
          cursor: pointer;
          background-color: #fff;
          border-radius: 5px;
          border: none;
        }
      }
      .navbar {
        width: 100%;
      }
    }
  }
}
